[submodule "engine/lib/SPIRV-Cross"]
	path = engine/lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "engine/lib/optick"]
	path = engine/lib/optick
	url = https://github.com/bombomby/optick.git
