.vs
.ilk
out
bin/glm_dummy.exe
bin/*.ilk
bin/*.pdb
bin/spirv-cross.exe
bin/shaders_compiled
bin/*.obj
bin/*.manifest
bin/*.opt
bin/*.dll
bin/shaders
bin/assets
*.mayaSwatches
*.exe
*.ilk
imgui.ini
*.pdb
*.opt
log.txt
assets.cache